/*  Our Square Feet Main stylesheet */

@font-face {
    font-family: 'CompleteInHim';
    src: url('/fonts/CompleteInHim.ttf');
}

/* Colors */

@barColor:#b0ffb0;
@shadowColor:#222;
@textColor:#000;

/* Borders */

@border: 2px solid #000;

/* CSS3 Effects */

.boxShadow(@offsetTop: 3px, @offsetLeft: 3px, @depth: 5px, @color: @shadowColor) {
    -webkit-box-shadow: @offsetTop @offsetLeft @depth @color;
}

.borderRadius(@radius:10px) {
    -webkit-border-radius: @radius;    
}

/* Basic styles */

div {
    font-family: helvetica, arial, freesans, clean, sans-serif    
}

.bar em {
    font-family: 'CompleteInHim';
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 12px;
}

.bar {
    position: fixed;
    width: 95%;
    margin-left: 20px;
    border: @border;
    background-color: @barColor;
    opacity: 0.8;
    .boxShadow();
    .borderRadius();
}

#canvas {
    min-width: 3000px;
    min-height: 2000px;
    width: 3000px;
    height: 2000px;
}

.message {
    position: fixed;
    width: 60%;
    margin-left:20%;
    margin-right:20%;
    margin-top: 25%;
    padding-top: 10px;
    padding-bottom: 20px;
    z-index:1;
    top: 0;
    border: @border;
    background-color: @barColor;
    opacity: 0.9;
    .boxShadow();
    .borderRadius();
}

.message .content {
  margin: 20px;
  h1 {
    font-family: 'CompleteInHim';
    font-size: 3em;
    margin: 0.3em 0em;
  }
}

#toolBar {
    top: 0;
    margin-top: 10px;
    .title {
        font-family: 'CompleteInHim';
        margin-left: 20px;
        margin-top: 0.25em;
        margin-bottom: 0.1em;
        float: left;
        font-size: 1.75em;
        h1 {
            margin-top: 0px;
            margin-bottom: 0px;
            a {
                &:link {
                  text-decoration:none;
		  color: @textColor;
                }
                &:visited {
                  text-decoration: none;
                  color: @textColor;
                }
            }
        }
    }
}

.bar .buttons {
    margin-top: 1em;
    margin-right: 20px;
    float: right;
    font-size: 0.75em;
    min-height: 100%;
}

#statusBar.bar .buttons {
    margin-top: 0.45em; 
}

button {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 2px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: @barColor + #111;
    border: @border;
    font-size: 1.75em;
    .borderRadius();
    .boxShadow(1px, 1px, 3px);
}

#canvas {
    width: 3000px;
    height: 2000px;
}

#content {
    width: 100%;
}

#statusBar {
    bottom: 0;
    margin-bottom: 10px;
}

#statusBar .info {
    float: left;
    margin-left: 20px;
}

.buttons {
    button {
	&:hover {
	    background-color: @barColor - #111;
	}
    }
}
    