/*  Our Square Feet Main stylesheet */

@font-face {
    font-family: 'CompleteInHim';
    src: url('/fonts/CompleteInHim.eot'); /* IE */
    src: local("Complete In Him"), url('/fonts/CompleteInHim.ttf'); /* Non-IE */
}

/* Colors */

@barColor:#b0ffb0;
@shadowColor:#222;
@textColor:#000;

/* Borders */

@border: 2px solid #000;

/* CSS3 Effects */

.boxShadow(@offsetTop: 3px, @offsetLeft: 3px, @depth: 5px, @color: @shadowColor) {
  -moz-box-shadow: @offsetTop @offsetLeft @depth @color;
  -webkit-box-shadow: @offsetTop @offsetLeft @depth @color;
  box-shadow: @offsetTop @offsetLeft @depth @color;
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='@color')";
  filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='@color')";
}

.borderRadius(@radius:10px) {
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;    
  border-radius: @radius
}

/* Resuable Styles */

.box() {
  position: fixed;
  z-index:1;
  border: @border;
  background-color: @barColor;
  opacity: 0.95;
  .boxShadow();
  .borderRadius();
}

/* Basic styles */

body {
  margin:0px;
}

div {
    font-family: helvetica, arial, freesans, clean, sans-serif    
}

.bar {
    .box();
    width: 95%;
    margin-left: 20px;
}

#canvas {
    min-width: 3000px;
    min-height: 2000px;
    width: 3000px;
    height: 2000px;
}

.message {
  .box();
  width: 50%;
  margin-left:120%;
  margin-right:25%;
  margin-top: 150px;
  padding-top: 10px;
  padding-bottom: 20px;
  top: 0;
  .title {
    overflow:hidden;
  }
  .content {
    margin: 0px 25px;
    h1 {
      font-family: 'CompleteInHim';
      font-size: 3.5em;
      margin-bottom: 0.1em;
      margin-top: 0.2em;
      float: left;
    }
    .main {
      font-size: 1.2em;
      line-height: 1.2em;
      p:first-child {
        margin-top: 0em;
      }
      em {
        font-family: 'CompleteInHim';
        font-size: 1.4em;
        padding-left: 2px;
        padding-right: 2px;
      }
    }
  }
}

#toolBar {
    top: 0;
    margin-top: 10px;
    .title {
        margin-left: 20px;
        margin-top: 0.25em;
        margin-bottom: 0.1em;
        margin-right: 20px;
        h1 {
            float: left;
            font-family: 'CompleteInHim';
            font-size: 4em;
            margin-top: 0px;
            margin-bottom: 0px;
            a {
                &:link {
                  text-decoration:none;
		  color: @textColor;
                }
                &:visited {
                  text-decoration: none;
                  color: @textColor;
                }
            }
        }
	h3 {
          margin-top:25px;
          float:right;
	}
    }
}

.buttons {
  float: right;
  button {
    &:hover {
      background-color: @barColor - #111;
    }
  }
}


.bar .buttons {
    margin-top: 1em;
    margin-right: 20px;
    font-size: 0.75em;
    min-height: 100%;
}

button {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 2px;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    background-color: @barColor + #111;
    border: @border;
    font-size: 1.75em;
    .borderRadius();
    .boxShadow(1px, 1px, 3px);
}

#canvas {
    width: 3000px;
    height: 2000px;
}

#content {
    width: 100%;
}
