!=partial('partials/toolBar')
input#plantName(type="text")
#content
  #canvas
aside.message
  .content
    .title
      h1 Us too!
      .buttons
        button.close x
    .main
      p At <em>My Garden Plan</em> we know we're not perfect - but we always want to be better. So we're constantly on the look out for some helpful souls to guide us in the right direction. We don't expect anything from you except your feedback.
      p So if you have a complaint, an annoyance, an idea or maybe even some praise, head to our <a href="http://our-square-feet.tenderapp.com/home">support web site</a> and <a href="http://our-square-feet.tenderapp.com/discussion/new">start a discussion</a>.
      p Someone will get back to you pretty sharpish.

