!=partial('partials/toolBar')
#content
  #canvas
!=partial('partials/statusBar')
aside.message
  .content
    .title
      h1 Coming Soon ...
    .main
      p With <em>Our Square Feet</em>, you'll be able to:
      ul
        li Create your own square foot garden plan.
        li Share your plan with friends.
        li Export your plan as an image.
        li 
          em And it won't cost a bean!
      p Check back soon for some more features.
      p Think you can make this better, then 
        a(href="/wannahelp") join us.

