!!! 5
html
  head
    script(src="/javascript/html5.js")
    link(href="/stylesheets/main.less", rel="stylesheet/less", type="text/css")
    script(async="true", src="http://www.google-analytics.com/ga.js")
    title My Garden Plan
    meta(name="keywords", content="square foot garden, garden planner, square foot gardens, square foot garden planner, free garden planner, square foot garden design, small garden design, garden planning, square foot gardener, garden layout, raised bed planner")
    script(type="text/type")
      | var _gaq = _gaq || [];
      | _gaq.push(['_setAccount', 'UA-20756458-1']);
      | _gaq.push(['_trackPageview']);
  body!= body
  script(src="/javascript/less-1.0.21.min.js")
  script(src="/javascript/jquery-1.5.min.js")  
  script(src="/javascript/raphael-min.js")
  script(src="/javascript/observatory.js")
  script(src="/javascript/layoutengine.js")
  script(src="/javascript/coord.js")
  script(src="/javascript/rectangle.js")
  script(src="/javascript/plant.js")
  script(src="/javascript/plants.js")
  script(src="/javascript/squarefoot.js")
  script(src="/javascript/squarefeet.js")
  script(src="/javascript/ui/plantWidget.js")
  script(src="/javascript/ui/editableTextWidget.js")
  script(src="/javascript/ui/closeButtonWidget.js")
  script(src="/javascript/uiLayer.js")
  script(src="/javascript/model.js")
  script(src="/javascript/oursquarefeet.js")
