!!!
html
  head
    link(href="/stylesheets/main.less", rel="stylesheet/less", type="text/css")
    script(src="/javascript/less-1.0.21.min.js")
    script(async="true", src="http://www.google-analytics.com/ga.js")
    title Hello World
    :javascript
      | var _gaq = _gaq || [];
      | _gaq.push(['_setAccount', 'UA-20756458-1']);
      | _gaq.push(['_trackPageview']);
  body!= body
