!=partial('partials/toolBar')
#content
  #canvas
aside.message#oops
  .content
    .title
      h1 Oops!
      .buttons
    .main
      p <em>How did you get here?</em>
      p For some strange reason you've ended up in the back of beyond. Sorry for the mix up.
      p Try hitting back on your browser.

