!=partial('partials/toolBar')
#content
  #canvas
!=partial('partials/statusBar')
aside.message
  .content
    .title
      h1 Great!
    .main
      p Thanks for coming this far.
      p At <em>Our Square Feet</em> we know we're not perfect - but we always want to be better. So we're always on the look out for some helpful souls to guide us in the right direction. We don't expect anything from you except your feedback.
      p So if you have a complaint, an annoyance, an idea or maybe even some praise, head to our <a href="http://gmcallister.lighthouseapp.com/projects/61069-our-square-feet/overview">project management web site</a> and <a href="http://gmcallister.lighthouseapp.com/projects/61069-our-square-feet/tickets/new">record a ticket</a>.
      p Someone will get back to you pretty sharpish.
